mat-card{
    margin-top: 3rem;

}
canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
}
.status{
    display: flex;
    justify-content: center;
    font-size: small;
    color: rgb(101, 101, 101);
    margin-top: 1rem;
}