
<form class="form">
    <h1 class="header">Add News</h1>
    <p>
        <mat-form-field>
            <input type="text" matInput placeholder="Heading">
            <mat-label>Enter News Header</mat-label>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <textarea type="text" matInput placeholder="Enter body...."></textarea>
            <mat-label>Body</mat-label>
        </mat-form-field>
    </p>
    <div class="buttons">
        <p style="margin-right: 2rem ;">
            <button mat-raised-button color="accent">Draft</button>
        </p>
        <p>
            <button mat-raised-button color="primary">Post</button>
        </p>
    </div>
    
</form>
