<ng-container>
  <mat-toolbar color="primary">
    <button
      *ngIf="authService.isLoggedIn$ | async"
      mat-icon-button
      (click)="toggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Alumni Tracking System</span>
    <span class="spacer"></span>
    <ng-container *ngIf="!(authService.isLoggedIn$ | async)">
      <!-- <form action="" [formGroup]="searchForm" (ngSubmit)="search()">
        <mat-form-field>
          <input formControlName="query" placeholder="search" type="text" />
        </mat-form-field>
        <button class="search-button" type="submit" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </form> -->

      <span class="welcome-note">Hello, stranger</span>
    </ng-container>
    <ng-container *ngIf="authService.isLoggedIn$ | async">
      <form action="" [formGroup]="searchForm" (ngSubmit)="search()">
        <mat-form-field>
          <input formControlName="query" placeholder="search" type="text" />
        </mat-form-field>
        <button class="search-button" type="submit" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
      <span class="welcome-note">Welcome, {{ username }}</span>
      <button mat-icon-button (click)="goToProfile()">
        <mat-icon>person</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      *ngIf="authService.isLoggedIn$ | async"
      class="sidenav"
      mode="side"
      #sidenav
      opened
    >
      <mat-nav-list *ngFor="let item of items">
        <app-nav-link [item]="item"></app-nav-link>
      </mat-nav-list>

      <div class="logout">
        <button class="logout-button" mat-button (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
          <span class="spacer"></span>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="display-content">
      <ng-content select="[display-content]"></ng-content>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
