<div class="convo-wrapper">
  <div class="thread">
    <mat-card class="thread-header">
      <img src="assets/img/graduate.png" matCardAvatar alt="" />
      <p mat-card-title>Reciever's Name</p>
    </mat-card>
    <div class="texts-list">
      <div class="sender">
        <p>Sender testing</p>
        <p class="time">11:00 pm</p>
      </div>
      <div class="reciever">
        <p>Reciever testing</p>
        <p class="time">11:02 pm</p>
      </div>
      <div class="sender">
        <p>Sender testing</p>
        <p class="time">11:00 pm</p>
      </div>
      <div class="reciever">
        <p>Reciever testing</p>
        <p class="time">11:02 pm</p>
      </div>
      <div class="sender">
        <p>Sender testing</p>
        <p class="time">11:00 pm</p>
      </div>
      <div class="reciever">
        <p>Reciever testing</p>
        <p class="time">11:02 pm</p>
      </div>
      <div class="sender">
        <p>Sender testing</p>
        <p class="time">11:00 pm</p>
      </div>
      <div class="reciever">
        <p>Reciever testing</p>
        <p class="time">11:02 pm</p>
      </div>
      <div class="sender">
        <p>Sender testing</p>
        <p class="time">11:00 pm</p>
      </div>
      <div class="reciever">
        <p>Reciever testing</p>
        <p class="time">11:02 pm</p>
      </div>
    </div>
    <div class="input">
      <input matInput class="text" type="text" placeholder="Type a message" />
      <button mat-icon-button class="send-button">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
