<ng-container *ngIf="event">
   <div>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput appearance="fill" [(ngModel)]="event.name">
    </mat-form-field>
   </div>
   <div>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="event.description" placeholder="Event description.."></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput [(ngModel)]="event.location" placeholder="Enter location">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="event.start_time">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
    </div>
    <p matSubheader style="margin-top: 1rem;">Choose time</p>
    <div class="time">
        <mat-form-field class="time-field" appearance="fill">
            <mat-label>From</mat-label>
            <input matInput type="time" [(ngModel)]="event.end_time">
        </mat-form-field>

        <mat-form-field class="time-field" appearance="fill">
            <mat-label>To</mat-label>
            <input matInput type="time" [(ngModel)]="event.end_time">
        </mat-form-field>
    </div>
    <div class="buttons">
        <button mat-raised-button
        style="margin-right: 2rem;" 
        (click)="save()" color="primary">Save</button>
        <button mat-raised-button color="warn" (click)="back()">Cancel</button>
    </div>
</ng-container>
