mat-form-field{
    width: 50vw;
}

:host button{
    margin-top: 1rem;
}
.time{
    display: flex;
}

.time-field{
    width: 23vw;
}

.time-field:nth-child(1){
    margin-right: 3rem;
}

.buttons:nth-child(1){
    margin-right: 2rem;
}