.foofo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}