<ng-container *ngIf="card" >
    <mat-card>
        <!-- <mat-card-header>
            <img src="{{ card.icon }}">
        </mat-card-header>
        <mat-card-content>
            <mat-card-subtitle>{{ card.name }}</mat-card-subtitle>
            <mat-card-title>{{ (card.value | async)?.length }}</mat-card-title>
        </mat-card-content> -->
        <div class="left">
            <img src="{{ card.icon }}">
        </div>
        <div class="content">
            <p>{{ card.name }}</p>
            <h1>{{ (card.value | async)?.length }}</h1>
        </div>
    </mat-card>
</ng-container>