<div>
  <a [routerLink]="['1']">
    <mat-list-item>
      <img matListItemAvatar src="{{ 'assets/img/graduate.png' }}" alt="" />
      <p matListItemTitle>Reciever 1</p>
      <p matListItemLine>The last message</p>
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a href="">
    <mat-list-item>
      <img matListItemAvatar src="{{ 'assets/img/graduate.png' }}" alt="" />
      <p matListItemTitle>Reciever 2</p>
      <p matListItemLine>The last message</p>
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
  <a href="">
    <mat-list-item>
      <img matListItemAvatar src="{{ 'assets/img/graduate.png' }}" alt="" />
      <p matListItemTitle>Reciever 3</p>
      <p matListItemLine>The last message</p>
    </mat-list-item>
  </a>
  <mat-divider></mat-divider>
</div>
