<div class="form">
  <h2 matSubheader>Create Event</h2>
  <form
    [formGroup]="createEventForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
  >
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Enter Event  Name"
        />
        <mat-error *ngIf="createEventForm.get('name')!.hasError('required')">
          Value in this field must be provided.
        </mat-error>
      </mat-form-field>
      <p>{{ createEventForm.get("name")?.status }}</p>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          placeholder="Enter Event description...."
        >
        </textarea>
      </mat-form-field>
      <p>{{ createEventForm.get("description")?.status }}</p>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Location</mat-label>
        <input
          matInput
          formControlName="location"
          placeholder="Enter location"
        />
      </mat-form-field>
      <p>{{ createEventForm.get("location")?.status }}</p>
    </div>
    <div>
      <h4>From</h4>
      <mat-form-field appearance="fill">
        <mat-label>From</mat-label>
        <input matInput type="datetime-local" formControlName="start_time" />
        <mat-hint>dd/mm/yyyy, hh:mm</mat-hint>
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <!-- <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle> -->
        <!-- <mat-datepicker #picker></mat-datepicker> -->
      </mat-form-field>
      <p>{{ createEventForm.get("start_date")?.status }}</p>
      <p>{{ createEventForm.get("start_date")?.value }}</p>

      <!-- <mat-form-field class="time-field" appearance="fill">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="start_time" />
        <mat-hint>HH:mm</mat-hint>
      </mat-form-field> -->
      <p>{{ createEventForm.get("start_time")?.status }}</p>
      <p>{{ createEventForm.get("start_time")?.value }}</p> 
    </div>
    <div>
      <!-- <h4>To:</h4> -->
      <mat-form-field appearance="fill">
        <mat-label>To</mat-label>
        <input matInput formControlName="end_time" type="datetime-local" />
        <mat-hint>dd/mm/yyyy, hh:mm</mat-hint>
        <!-- <mat-datepicker-toggle
          matIconSuffix
          [for]="pickerend"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerend></mat-datepicker> -->
      </mat-form-field>
      <!-- <mat-form-field class="time-field" appearance="fill">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="end_time" />
        <mat-hint>HH:mm</mat-hint>
      </mat-form-field> -->
    </div>
    <div>
      <input
        type="file"
        formControlName="image"
        accept="image/*"
        (change)="onImageChange($event)"
      />
      <p>{{ createEventForm.get("image")?.status }}</p>
      <p>{{ createEventForm.get("image")?.value }}</p>
    </div>
    <div>
      <mat-checkbox formControlName="is_public"> Public </mat-checkbox>
      {{ createEventForm.get("is_public")?.value }}
    </div>

    <div class="buttons">
      <button
        mat-raised-button
        [disabled]="createEventForm.invalid"
        type="submit"
        color="primary"
      >
        Create
      </button>
      <button
        style="margin-right: 2rem"
        mat-raised-button
        color="warn"
        (click)="back()"
      >
        Cancel
      </button>
    </div>
    <!-- {{ createEventForm.status }} -->
  </form>
</div>
